<app-navbar></app-navbar>
<div class="d-flex bg-dark">
    <div class="w-25 mh-100 mt-5 mb-5 ms-5 me-2 bg-dark-subtle rounded">
        <div class="p-3 ps-4">
          <h3>Analytics</h3>
        </div>
        <div class="p-3 ps-4">
          <h5>Here you can see the analysis of all your records</h5>
        </div>
        <ul class="list-group">
          <li class="list-group-item mx-4 my-2 rounded">
            <button class="btn fw-bold" (click)="selectCategory(0)">All Categories</button>
          </li>      
          <li *ngFor="let category of categories" class="list-group-item mx-4 my-2 rounded">
            <button class="btn fw-bold" (click)="selectCategory(category.id)">{{ category.name }}</button>
          </li>
        </ul>
      </div>

    <div class="d-flex w-75 min-vh-100 mt-5 mb-5 me-5 ms-2 bg-dark-subtle rounded">
        <div class="p-3 w-100">
            <div class="fs-4 text-center fw-bold" *ngIf="records.length === 0">
                No records, yet. Add one!
            </div>
            <div *ngIf="records.length !== 0">
                <ul class="list-group" *ngFor="let category of categories">
                    <div class="my-2">
                        <li class="list-group-item rounded">
                          <div class="form-check">
                              <div class="d-flex justify-content-between">
                                <div class="fst-normal form-check-label p-2" for="flexCheckDefault" (click)="selectCategory(category.id)">
                                  {{category.name}}
                                </div>
                                <div class="fw-bold form-check-label p-2 pe-5" for="flexCheckDefault">
                                  {{category.value}}
                                </div>
                            </div>
                          </div>
                          <ul *ngIf="selectedCategoryId === category.id" class="list-group">
                            <li *ngFor="let subcategory of subcategories" class="list-group-item">
                                  <div class="d-flex justify-content-between">
                                    <div class="fst-normal form-check-label p-2" for="flexCheckDefault" (click)="selectSubcategory(subcategory.id)">
                                      {{subcategory.name}}
                                    </div>
                                    <div class="fw-bold form-check-label p-2 pe-5" for="flexCheckDefault">
                                      {{subcategory.value}}
                                    </div>
                              </div>
                            </li>
                          </ul>
                        </li>
                      </div>




                  </ul>
            </div>
        </div>
    </div>

</div>