<app-navbar></app-navbar>
<div class="d-flex">
    <div class="w-25 mt-5 mb-5 ms-5 me-2 bg-light rounded">
        <div class="p-3">
            <h3>Accounts</h3>
        </div>
    </div>

    <div class="d-flex w-75 mt-5 mb-5 me-5 ms-2 bg-light rounded">
        <div class="p-3 w-100">
            <ul class="list-group" *ngFor="let account of accounts">
                <button type="button" class="btn my-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <li class="list-group-item">
                        <div class="form-check">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <label class="fw-bold form-check-label pt-2" for="flexCheckDefault">
                                        {{account.name}}
                                    </label>
                                </div>
                                <div class="">
                                    <label class="fw-bolder form-check-label pt-2" for="flexCheckDefault">
                                        {{account.balance}} RON
                                    </label>
                                    <button type="button" class="btn btn-outline-danger ps-2 ms-2"
                                        (click)="deleteAccount(account)">Delete</button>
                                </div>
                            </div>
                        </div>
                    </li>
                
                </button>

                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Account</h1>
                            </div>
                            <form [formGroup]="form" class="modal-content p-3">
                                <div class="d-flex">
                                    <div class="form-group flex-1 mb-3 w-75">
                                        <label for="accountNameInput">{{account.name}}</label>
                                        <input class="form-control" formControlName="name" id="accountName"
                                            placeholder="Account Name">
                                    </div>
                                    <div class="form-group flex-1 mb-3 ms-2 w-25">
                                        <label for="confirmPassInput">Color</label>
                                        <input type="color" class="mt-1 form-control" id="color">
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="form-group flex-1 mb-3 w-75">
                                        <label for="passInput">New Current Amount</label>
                                        <input type="number" class="form-control" formControlName="amount"
                                            id="startingInput" placeholder="0">
                                    </div>
                                    <div class="form-group flex-1 mb-3 ms-2 w-25">
                                        <label for="confirmPassInput">Currency</label>
                                        <div type="password" class="form-control" id="CurrencyInput">RON
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" (click)="editAccount(account)"
                                    data-bs-dismiss="modal">Save!</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </ul>
        </div>
    </div>

</div>